.primary_heading {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .primary_heading {
    font-size: 25px;
  }
}

@media screen and (max-width: 480px) {
  .primary_heading {
    font-size: 20px;
  }
}
