.prefecture_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 80%;
}

.population_category_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  padding: 10px;
}

.population_prefecture_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.checkbox {
  width: 20%;
  text-align: center;
}

@media (max-width: 600px) {
  .checkbox {
    width: 25%;
  }
}

@media screen and (max-width: 480px) {
  .checkbox {
    width: 50%;
  }
}
