.radiobutton_container {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 480px) {

}
